<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Criar Lista
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <table>
    <thead>
      <tr>
        <th style="width: 50%;">Nome</th>
        <th style="width: 20%;">Quantidade</th>
        <th style="width: 20%;">Preço</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align: center;">Alface</td>
        <td>2</td>
        <td>20</td>
      </tr>
    </tbody>
  </table>

</ion-content>
