<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Produtos
    </ion-title>
  </ion-toolbar>
  <ion-button (click)="CriarProduto()">Criar Produto</ion-button>
</ion-header>

<ion-content>
  <div class="product-list">
    <div *ngFor="let product of products" class="product-card">
      <img [src]="safeImages[product.image]" >
      <h2>{{ product.name }}</h2>
      <p>{{ product.category }}</p>
      <p>{{ product.price | currency }}</p>
      <ion-button (click)="EditarProduto(product)">Editar</ion-button>
    </div>
  </div>
</ion-content>
