<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Produtos
    </ion-title>
  </ion-toolbar>
  <ion-button *ngIf="!isScanning" (click)="CriarProduto()">Criar Produto</ion-button>
  <div *ngIf="isScanning" class="scanner-container" style="background-color: transparent;">
    <div class="scanner-overlay">
      <div class="scanner-border"></div>
      <p class="scanner-text">Apontar para o código de barras que se encontra no produto</p>
    </div>
  </div>
</ion-header>

<ion-content *ngIf="!isScanning">
  <div class="product-list">
    <div *ngFor="let product of products" class="product-card">
      <img [src]="safeImages[product.image]" >
      <h2>{{ product.name }}</h2>
      <p>{{ product.category }}</p>
      <p>{{ product.price | currency }}</p>
      <ion-button (click)="EditarProduto(product)">Editar</ion-button>
    </div>
  </div>

  <div *ngIf="!isScanning" class="ion-text-center">
    <ion-button expand="full" (click)="startScanning()">Start Scanning</ion-button>
  </div>

  <div *ngIf="isScanning" class="scanner-container" style="background-color: transparent;">
    <div class="scanner-overlay">
      <div class="scanner-border"></div>
      <p class="scanner-text">Apontar para o código de barras que se encontra no produto</p>
      
    </div>
    <!-- <ion-button *ngIf="isScanning" (click)="VoltarTrasBarcode()">Voltar atrás</ion-button> -->
  </div>
</ion-content>


